body{
	width:90%;
	margin-left: 10%;
	font-family: 'Raleway', sans-serif;
	line-height: 150%;
    background-color: bisque;
} 

@media print {
   	body {
	page-break-inside: avoid;
	widows: 3;
	orphans: 3;
	}
	
	footer {
		page-break-after: always;
	}
	
	h2 {
		page-break-before: always;
	}
}